<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Deposito/Libreria</title>
    @Styles.Render("~/Content/css")

</head>
<body class="d-flex flex-column min-vh-100 bg-dark ">
    <script src="~/Scripts/functions.js"></script>
    <header class="fixed-top">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <div class="fst-italic" id="fecha" style="color:white; padding-left:15px"></div>
            <div style="color: white; align-content: center; padding-left:25px">Usuario: @User.Identity.Name</div>
            <h4 class="fst-italic" style="color: white; margin-left: auto;">Deposito</h4>
            <!-- Navbar Brand-->
            <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CerrarSesion","Usuario")" style="color: #fff;">
                        <i class="fas fa-user fa-fw"></i> Cerrar sesión
                    </a>
                </li>
            </ul>

        </nav>

        <div class="container-fluid text-center bg-dark" style="padding-top: 10px; padding-bottom:10px;">
            <div class="row">

                @*--------------------------OPERACIONES----------------------*@

                <div class="col">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvaoperaciones" aria-controls="offcanvasScrolling">OPERACIONES</button>
                    <div style="background-color:black; padding-top:50px" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="canvaoperaciones" aria-labelledby="offcanvasScrollingLabel">
                        <div style="padding-bottom:15px">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <a class="nav-link link-light" href="@Url.Action("Egresos","Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-circle-arrow-up"></i></div>
                            Egresos/Salidas
                        </a>
                        <a class="nav-link link-light" href="@Url.Action("Ingresos","Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-circle-arrow-down"></i></div>
                            Ingresos/Entradas
                        </a>
                        <a class="nav-link link-light" href="@Url.Action("SolicitudPedidos","Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
                            Solicitud/Pedidos
                        </a>

                        <a class="nav-link link-light" href="@Url.Action("EntregaPedidos","Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Entrega/Pedidos
                        </a>
                    </div>
                </div>


                @*--------------------------ADMINISTRACION----------------------*@
                <div class="col">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvaadministracion" aria-controls="offcanvasScrolling">ADMINISTRACION</button>
                    <div style="background-color:black; padding-top:50px" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="canvaadministracion" aria-labelledby="offcanvasScrollingLabel">
                        <div style="padding-bottom:15px">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <a class="nav-link  link-light" href="@Url.Action("Productos","Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-cube"></i></div>
                            Productos
                        </a>
                        <a class="nav-link  link-light" href=" @Url.Action("Proveedores", "Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                            Proveedores
                        </a>
                        <a class="nav-link  link-light" href=" @Url.Action("Rubros", "Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Rubros
                        </a>
                        <a class="nav-link  link-light" href=" @Url.Action("Tipos", "Toner")">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            Tipos
                        </a>
                    </div>
                </div>
                @*--------------------------REPORTES----------------------*@

                <div class="col">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvareportes" aria-controls="offcanvasScrolling">REPORTES</button>
                    <div style="background-color:black" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="canvareportes" aria-labelledby="offcanvasScrollingLabel">
                        <button style="background-color:white" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="layoutSidenav">
        <main style="padding-top:120px;">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>

    </div>
    <footer class="py-0 bg-dark mt-auto ">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="sb-sidenav-footer text-bg-dark">
                    <div class="small">Hospital Pediatrico</div>
                    Dr. Avelino L. Castelan
                </div>
                <div class="text-white">Diseñado por Area de Sistemas de Hospital Pediatrico Dr. Avelino L. Castelan</div>
                <div class="text-white">Libreria e Insumos Informaticos </div>

            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
<script src="~/Scripts/fontawesome-v6/all.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const fecha = document.getElementById("fecha");
        const now = new Date();
        fecha.innerText = now.toLocaleDateString();
    });
</script>