
@{
    ViewBag.Title = "Egresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">
            <i class="fas fa-circle-arrow-up me-2"></i>Egresos
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)"> Salida de stock </button>
            </div>
        </div>

        <hr />
        <div style="justify-self:center">
            <h6>Seleccione el rango que desea ver:</h6>
            <input type="text" name="daterange" />
        </div>

        <div class="row">
            <div id="filterContainer"  class="col-5">
                <label for="filterRubroSelect">Filtrar por Rubro:</label>
                <select id="filterRubroSelect" style="width: 68%;">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div id="filterContainer" class="col-5">
                <label for="filterAreaSelect">Filtrar por Area:</label>
                <select id="filterAreaSelect" style="width: 70%;">
                    <option value="">Todos</option>
                </select>
            </div>

            <div id="filterContainer" class="col-5">
                <label for="filterSectorSelect">Filtrar por Sector:</label>
                <select id="filterSectorSelect" style="width: 70%;">
                    <option value="">Todos</option>
                </select>
            </div>

        </div>


        <table id="tabla" class="table table-striped-columns table-hover table-bordered" style="width: 100% !important; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th>Detalle</th>
                    <th>Cantidad</th>
                    <th>Codigo ID</th>
                    <th>Tipo Salida</th>
                    <th>Fecha de Egreso</th>
                    <th>Observaciones</th>
                    <th>Usuario</th>
                    <th>Area</th>
                    <th>Sector</th>
                    <th>Rubro</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="titulodinamico">Salida de stock</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">
                <input id="txtid" type="hidden" value="" />
                <input type="hidden" class="form-control" id="txtusuario" value="@Session["AccesCode"]" readonly>
                <div class="d-flex align-items-center mb-3" style=" justify-content: center;">
                    <label for="txtfechaegreso" class="form-label me-2 mb-0">Fecha de Egreso:</label>
                    <input type="text" class="form-control" id="txtfechaegreso" readonly style="max-width: 200px;">
                </div>
                <div class="row row-cols-2 " id="contenedor">
                    <div id="contenedor" class="col border rounded p-2 bg-light">
                        <p style="text-align:center">Filtros de busqueda</p>
                        @Html.Partial("_BusquedaAvan")
                    </div>

                    <div class="col">
                        <label for="txtcodigoid" class="form-label">Codigo ID</label>
                        <input type="text" class="form-control" id="txtcodigoid">

                        <label for="txtcantidad" class="form-label">Cantidad</label>
                        <input type="text" class="form-control" disabled id="txtcantidad">

                        <label for="txtobservaciones" class="form-label">Observaciones</label>
                        <input type="text" class="form-control" id="txtobservaciones">
                    </div>

                    <div class="col border rounded p-2 bg-light">
                        <p style="text-align: center;">Producto</p>
                        <select id="cbodetalle" class="form-select ProductosS" style="width: 100%">
                        </select>
                        <p style="text-align: center; margin-top:5px">Informacion del producto</p>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Stock Actual</span>
                            <input id="cbostockactual" type="text" class="form-control" readonly>
                            <span class="input-group-text">Codigo ID</span>
                            <input id="infocodigoid" type="text" class="form-control" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Rubro</span>
                            <input id="inforubro" type="text" class="form-control" readonly>
                            <span class="input-group-text">Tipo</span>
                            <input id="infotipo" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <label class="form-label">Tipo de Salida</label>
                        <select id="txttipoegreso" class="form-select">
                            <option value="" disabled select>Seleccionar</option>
                            <option value="I">Interna</option>
                            <option value="E">Externa</option>
                            <option value="D">Devolucion</option>
                            <option value="O">Otro</option>
                        </select>

                        <label for="txtcodigoarea" class="form-label">Area</label>
                        <select id="txtcodigoarea" class="form-select" style="width: 100%" name="codArea" onchange="CargarSectores(this.value)">
                        </select>
                        <label for="txtcodigosector" class="form-label">Sector</label>
                        <select id="txtcodigosector" class="form-select" style="width: 100%">
                        </select>
                    </div>


                    @*--------Mensaje de alerta----------*@
                    <div class="row mt-12">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">

                            </div>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Se limpiaran los campos al salir.">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var permisos = @Html.Raw(Json.Encode(Session["PermissionsCode"]));
        var tabladata;
        var filaSeleccionada;
        var stockprod = {};
        var codigoidprod = {};
        var rubroprod = {};
        var tipoprod = {};
        var appSettings = {};
        var filtrarStockEnProducto = true;


        //DATARANGER- FILTRO POR FECHA DATATABLE
        $(function FiltroFecha () {
            var startDate, endDate;
            startDate = moment().subtract(2, 'days').startOf('day');;
            endDate = moment().endOf('day');;
            $('input[name="daterange"]').daterangepicker({
                opens: 'center',
                startDate: moment(),
                endDate: moment(),

                locale: {
                    format: 'DD-MM-YYYY',
                }
            },
                function (start, end) {
                    startDate = start.startOf('day');;
                    endDate = end.endOf('day');;
                    tabladata.draw();
                });
            $('input[name="daterange"]').val(startDate.format('DD-MM-YYYY') + ' - ' + endDate.format('DD-MM-YYYY'));
            $.fn.DataTable.ext.search.push(
                function (setting, data, dataIndex) {
                    var fechaEgreso = moment(data[4], 'DD/MM/YYYY');
                    if (!startDate || !endDate) {
                        return true;
                    }
                    return startDate.isSameOrBefore(fechaEgreso) && endDate.isSameOrAfter(fechaEgreso);
                }
            );
        });

        $.fn.dataTable.moment('DD/MM/YYYY');
        $(document).ready(function () {
            CargarProductos(permisos.map(p => p.Accesos));

            $('#filterRubroSelect,#filterAreaSelect,#filterSectorSelect' ).select2({
                placeholder: "Seleccionar",
                allowClear: true,
            });

            CargarAreas();

             var urlrubros = '@Url.Action("ListarRubros", "Toner")'
             CargarRubros(urlrubros, permisos.map(p => p.Accesos));

             var urlcodigoid = '@Url.Action("ListarProductos", "Toner")'
             CargarCodigosID(urlcodigoid, permisos.map(p => p.Accesos));

             tooltips();
             LimpiarSelects();
             LimpiarCampos();
             selects2();
             cargarApiUrls();




            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                //order: [],
                "ajax": {
                    url: '@Url.Action("ListarEgresos", "Toner")',
                    type: "GET",
                    dataType: "json",

                },
                "columns": [
                    {
                        "data": "oProductos", "render": function (data) {
                            return data && data.Detalle ? data.Detalle : '';
                        }
                    },

                    { "data": "Cantidad" },

                    {
                        "data": "CodigoId", "render": function (data) {
                            return data ? data : '';
                        }
                    },
                    {
                        "data": "TipoSalida",
                        "render": function (data) {
                            return data ? data : '';
                        }

                    },

                    {
                        data: 'FechaEgreso',
                    },
                    {
                        "data": "Observaciones",
                        "render": function (data) {
                            return data ? data : '';
                        },
                        searchable: false,
                    },
                    {
                        "data": "NombreyApellido",
                        "render": function (data) {
                            return data ? data : '';
                        },
                    },
                    {
                        "data": "NombreArea",
                        "render": function (data) {
                            return data ? data : '';
                        },
                    },
                    {
                        "data": "NombreSector",
                        "render": function (data) {
                            return data ? data : '';
                        },
                    },
                    {
                        "data": "oProductos.oRubros.Rubro",
                        visible: false,
                        "render": function (data) {
                            return data ? data : '';
                        },
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm ms-2 btn-editar"> <i class="fas fa-edit"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                columnDefs: [
                    {
                        targets: [4], render: function (data) {
                            return moment(data).format('DD/MM/YYYY');
                        },
                    },
                    { width: '6.5%', targets: 1 },
                    { width: '7%', targets: 3 },

                ],
                "language": {
                    "url": "../Language/es-Es.json",
                },
                initComplete: function () {
                    var api = this.api();

                    //FILTRO RUBRO
                    $('#filterRubroSelect').append('<option value="">Seleccionar Rubro</option>');
                    api.column(9).data().unique().sort().each(function (valor) {
                        if (valor) {
                                $('#filterRubroSelect').append('<option value="' + valor + '">' + valor + '</option>');
                        }
                    });
                    $('#filterRubroSelect').on('change', function () {
                        var selectedVal = $(this).val();
                        var val = selectedVal ? $.fn.dataTable.util.escapeRegex(selectedVal) : '';
                        api
                            .column(9)
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });


                    //FILTRO AREA
                    $('#filterAreaSelect').append('<option value="">Seleccionar Area</option>');
                    api.column(7).data().unique().sort().each(function (valor) {
                        if (valor) {
                            $('#filterAreaSelect').append('<option value="' + valor + '">' + valor + '</option>');
                        }
                    });
                    $('#filterAreaSelect').on('change', function () {
                        var selectedVal = $(this).val();
                        var val = selectedVal ? $.fn.dataTable.util.escapeRegex(selectedVal) : '';
                        api
                            .column(7)
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();

                        //FILTRO SECTOR
                        $('#filterSectorSelect').append('<option value="">Seleccionar Sector</option>');
                        api.column(8).data().unique().sort().each(function (valor) {
                            if (valor) {
                                $('#filterSectorSelect').append('<option value="' + valor + '">' + valor + '</option>');
                            }
                        });
                        $('#filterSectorSelect').on('change', function () {
                            var selectedVal = $(this).val();
                            var val = selectedVal ? $.fn.dataTable.util.escapeRegex(selectedVal) : '';
                            api
                                .column(8)
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
                    });
                }
            });
        });
        function modalTitle(title) {
            document.getElementById('titulodinamico').innerText = title;
        }

        function CargarProductos(permisos, idSeleccionado = null) {
            $.ajax({
                url: '@Url.Action("ListarProductos", "Toner")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#cbodetalle").empty();
                    $("<option>").attr({ "value": "" }).text("Seleccionar").appendTo("#cbodetalle");
                    var opciones = [];
                    var tienePermiso25 = permisos.includes(25);
                    var tienePermiso183 = permisos.includes(183);

                    function MostrarInfoyProducto(valor) {
                        opciones.push({
                            id: valor.IdProducto,
                            text: valor.Detalle
                        });
                        stockprod[valor.IdProducto] = valor.StockActual;
                        codigoidprod[valor.IdProducto] = valor.CodigoId;
                        rubroprod[valor.IdProducto] = valor.oRubros.Rubro;
                        tipoprod[valor.IdProducto] = valor.oTipos.Tipo;
                    }

                    $.each(data.data, function (index, valor) {
                        if (valor.Activo === true && valor.StockActual >= 1) {
                            if ((tienePermiso25 && valor.oRubros.Rubro !== "Insumos Informaticos") ||
                                (tienePermiso183 && valor.oRubros.Rubro === "Insumos Informaticos")) {
                                MostrarInfoyProducto(valor);
                            }
                        }
                    });
                    $('#cbodetalle').select2({
                        placeholder: "Selecciona una opción",
                        data: opciones,
                        allowClear: true,
                        dropdownParent: $('#FormModal'),
                    });

                    if (idSeleccionado) {
                        $('#cbodetalle').val(idSeleccionado).trigger('change');
                    } else {
                        $('#cbodetalle').val(null).trigger('change');
                    }
                },
                error: function (error) {
                    console.log(error)
                },
            });
        }

        function CargarAreas(){
            $.ajax({
                url: '@Url.Action("ObtenerAreas", "SolicitudPedidos")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#txtcodigoarea").empty();
                    var opciones = [];
                    $.each(data, function (index, valor) {
                        opciones.push({
                            id: valor.CodArea,
                            text: valor.NombreArea
                        });
                    });
                    $('#txtcodigoarea').select2({
                        placeholder: "Selecciona un area",
                        data: opciones,
                        allowClear: true,
                        dropdownParent: $('#FormModal'),
                    }).val(null).trigger('change');
                    $("#txtcodigosector").empty();
                },
                error: function (error) {
                    console.log(error)
                },
            });
        }

        function CargarSectores(codArea, codigoSectorSeleccionado) {
            if (!codArea) {
                $('#txtcodigosector').empty().prop('disabled', true).select2({
                    placeholder: "Seleccione primero un área",
                    allowClear: true,
                    dropdownParent: $('#FormModal'),
                }).val(null).trigger('change');
                return;
            }
            jQuery.ajax({
                  url: '@Url.Action("ObtenerSectoresPorArea", "SolicitudPedidos")' + '?codArea=' + codArea,
                  type: "GET",
                  data: null,
                  dataType: "json",
                  contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      $("#txtcodigosector").empty();
                      $("#txtcodigosector").prop('disabled', false);
                      var opciones = [];
                      $.each(data, function (index, valor) {
                          opciones.push({
                              id: valor.CodSector,
                              text: valor.Nombre
                          });
                      });
                      $('#txtcodigosector').select2({
                          placeholder: "Selecciona un area",
                          data: opciones,
                          allowClear: true,
                          dropdownParent: $('#FormModal'),
                      });
                      if (codigoSectorSeleccionado) {
                          $('#txtcodigosector').val(codigoSectorSeleccionado).trigger('change');
                      }
                  },
                  error: function (error) {
                      console.log(error)
                  },
              });
        };



        function abrirModal(json) {
            CargarProductos(permisos.map(p => p.Accesos));
            if (json != null) {
                var fechaActMatch = json.FechaAct.match(/\/Date\((\d+)\)\//);
                var timestamp = parseInt(fechaActMatch[1], 10);
                var fechaRegistro = new Date(timestamp);
                var fechaActual = new Date();
                var diferenciaDias = (fechaActual.getTime() - fechaRegistro.getTime()) / (1000 * 3600 * 24);

                if (diferenciaDias >= 1) {
                    Swal.fire({
                        title: "Ya no se puede actualizar/ modificar este registro.",
                        icon: "error",
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        confirmButtonText: "Ok",
                    });
                } else {
                    modalTitle('Editar');
                    var fechaActMatch = json.FechaEgreso.match(/\/Date\((\d+)\)\//);
                    var timestamp = parseInt(fechaActMatch[1], 10);
                    var fechaegreso = new Date(timestamp);
                    var dia = fechaegreso.getDate().toString().padStart(2, '0');
                    var mes = (fechaegreso.getMonth() + 1).toString().padStart(2, '0');
                    var anio = fechaegreso.getFullYear();
                    var fechaFormateada = dia + '/' + mes + '/' + anio;
                    $("#txtid").val(json.IdEgreso);
                    CargarProductos(permisos.map(p => p.Accesos), json.oProductos.IdProducto);
                    $("#cbostockactual").val(json.oProductos.StockActual).show();
                    $("#infocodigoid").val(json.oProductos.CodigoId).show();
                    $("#inforubro").val(json.oProductos.oRubros.Rubro).show();
                    $("#infotipo").val(json.oProductos.oTipos.Tipo).show();
                    $("#txtcantidad").val(json.Cantidad);
                    $("#txtcodigoid").val(json.CodigoId);
                    $("#txttipoegreso").val(json.TipoSalida);
                    $('#txtfechaegreso').val(fechaFormateada);
                    //$('#txtfechaegreso').datepicker({});
                    $("#txtobservaciones").val(json.Observaciones);
                    $("#txtcodigoarea").val(json.CodigoArea).trigger('change');
                    CargarSectores(json.CodigoArea, json.CodigoSector);
                    $("#txtusuario").val(@Session["AccesCode"]);
                    $("#mensajeError").hide();
                    $("#FormModal").modal("show");
                }
            } else {
                modalTitle('Crear nuevo');
                $("#txtid").val(0);
                $("#cbodetalle").val("");
                $("#txtcantidad").val(1);
                $("#txtcodigoid").val("");
                $("#txttipoegreso").val("");
                $('#txtfechaegreso').val(new Date().toLocaleDateString('es-AR'));
                //$('#txtfechaegreso').datepicker({});
                $("#txtobservaciones").val("");
                $("#txtcodigoarea").val("");
                $("#txtcodigosector").val("");
                $("#txtusuario").val(@Session["AccesCode"]);
                $("#mensajeError").hide();
                $("#FormModal").modal("show");

            }
            $("#cbodetalle").change(function () {
                var idProducto = $(this).val();

                if (stockprod[idProducto] !== undefined) {
                    $("#cbostockactual").show().val(stockprod[idProducto]);
                }

                if (codigoidprod[idProducto] !== undefined) {
                    $("#infocodigoid").show().val(codigoidprod[idProducto]);
                }

                if (rubroprod[idProducto] !== undefined) {
                    $("#inforubro").show().val(rubroprod[idProducto]);
                }

                if (tipoprod[idProducto] !== undefined) {
                    $("#infotipo").show().val(tipoprod[idProducto]).show();
                }
            });
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data);
        });

        function Guardar() {

            var Egresos = {
                IdEgreso: $("#txtid").val(),
                oProductos: {
                    IdProducto: $("#cbodetalle option:selected").val(),
                    Detalle: $("#cbodetalle option:selected").text(),
                },
                Cantidad: $("#txtcantidad").val(),
                CodigoId: $("#txtcodigoid").val(),
                TipoSalida: $("#txttipoegreso option:selected").val(),
                FechaEgreso: $('#txtfechaegreso').val(),
                Observaciones: $("#txtobservaciones").val(),
                IdUsuario: $("#txtusuario").val(),
                CodigoArea: $("#txtcodigoarea").val(),
                CodigoSector: $("#txtcodigosector").val(),
            };

            jQuery.ajax({
                url: '@Url.Action("GuardarEgresos", "Toner")',
                type: "POST",
                data: JSON.stringify({ objeto: Egresos }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(Egresos);

                    $(".modal-body").LoadingOverlay("hide");
                    // EGRESO NUEVO
                    if (Egresos.IdEgreso == 0) {
                        if (data.resultado != 0) {
                            Egresos.IdEgreso = data.resultado;
                            tabladata.ajax.reload();
                            $("#FormModal").modal("hide");
                        }
                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                    }
                    // EGRESO EDITAR
                    else {
                        if (data.resultado) {
                            //Egresos = data.resultado;
                            //tabladata.row(filaSeleccionada).data(Egresos).draw(false);
                            filaSeleccionada = null;
                            tabladata.ajax.reload();
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                    console.log(error);
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                },
            });
}

    </script>
}
