@{
    ViewBag.Title = "Ingresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">
            <i class="fas fa-boxes me-2"></i>Ingresos
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)"> Ingresar stock </button>
            </div>
        </div>

        <hr />
        <div style="justify-self:center">
            <h6>Seleccione el rango que desea ver:</h6>
            <input type="text" name="daterange" />
        </div>
        <table id="tabla" class="table table-striped-columns table-hover table-bordered" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Detalle</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Codigo ID</th>
                    <th>N° Exp.</th>
                    <th>Tipo Ingreso</th>
                    <th>Fecha ingreso</th>
                    <th>Ultima modificacion</th>
                    <th>Observaciones</th>
                    <th>Usuario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-------------------- MODAL CREATE ----------------------->

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body g-2">
                    <input id="txtid" type="hidden" value="" />
                    <input type="hidden" class="form-control" id="txtusuario" value="@Session["AccesCode"]" readonly>
                    <div class="row g-2" id="contenedor">


                        <div class="col-sm-6">
                            <label class="form-label" style="text-align:center;">Producto </label>
                            <select id="cbodetalle" class="form-select ProductosS" style="width: 100%">
                            </select>
                            <p style="text-align: center; margin-top:5px">Informacion del producto</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Stock Actual</span>
                                    <input id="cbostockactual" type="text" class="form-control" readonly>
                                    <span class="input-group-text">Codigo ID</span>
                                    <input id="infocodigoid" type="text" class="form-control" readonly>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Rubro</span>
                                    <input id="inforubro" type="text" class="form-control" readonly>
                                    <span class="input-group-text">Tipo</span>
                                    <input id="infotipo" type="text" class="form-control" readonly>
                                </div>

                        </div>

                        <div id="contenedor" class="col-sm-6">
                            <p style="text-align:center">Filtros de busqueda</p>
                                    @Html.Partial("_BusquedaAvan")
                        </div>


                       

                        <div class="col-sm-6">
                            <label class="form-label">Razon social</label>
                            <select id="cboproveedores" class="form-select"  style="width: 100%"> </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="txtcantidad" class="form-label">Cantidad</label>
                            <input type="number" class="form-control" id="txtcantidad" min="1" max="999" required placeholder="Coloque una cantidad" oninput="this.value.replace(/[^0-9]/g, '');">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtcodigoid" class="form-label">Codigo ID</label>
                            <input type="text" class="form-control" id="txtcodigoid" maxlength="30">
                        </div>

                        <div class="col-sm-6">
                            <label for="txtexpediente" class="form-label">N° de Expediente</label>
                            <input type="text" class="form-control" id="txtexpediente" maxlength="15">
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Tipo de Ingreso</label>
                            <select id="txttipoingreso" class="form-select">
                                <option value="">Seleccionar</option>
                                <option value="C">Compra</option>
                                <option value="D">Devolucion</option>
                                <option value="O">Otro</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="txtfechaingreso" class="form-label">Fecha de Ingreso</label>
                            <input type="text" class="form-control" id="txtfechaingreso" readonly>
                        </div>

                        <div class="col-sm-6">
                            <label for="txtobservaciones" class="form-label">Observaciones</label>
                            <input type="text" class="form-control" id="txtobservaciones" maxlength="50">
                        </div>
                    </div>
                    @*-------------------------Mensaje de alerta-------------------------*@
                    <div class="row mt-12">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert">

                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
                </div>
            </div>
    </div>
</div>


@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;
        var stockprod = {};
        var codigoidprod = {};
        var rubroprod = {};
        var tipoprod = {};
        var appSettings = {};


        let productoSeleccionado = null;



        //Dataranger - rangos
        $(function () {
            var startDate, endDate;
            startDate = moment().subtract(2, 'days').startOf('day');;
            endDate = moment().endOf('day');;
            $('input[name="daterange"]').daterangepicker({
                opens: 'center',
                startDate: moment(),
                endDate: moment(),

                locale: {
                    format: 'DD-MM-YYYY',
                }
            },
                function (start, end) {
                    startDate = start.startOf('day');;
                    endDate = end.endOf('day');;
                    tabladata.draw();
        });
            $('input[name="daterange"]').val(startDate.format('DD-MM-YYYY') + ' - ' + endDate.format('DD-MM-YYYY'));
            $.fn.DataTable.ext.search.push(
                function (setting, data, dataIndex) {
                    var fechaIngreso = moment(data[6], 'DD/MM/YYYY');
                    if (!startDate || !endDate) {
                        return true;
                    }
                    return startDate.isSameOrBefore(fechaIngreso) && endDate.isSameOrAfter(fechaIngreso);
                }
            );
        });

        $.fn.dataTable.moment('DD/MM/YYYY');
        $(document).ready(function () {

            var urlrubros = '@Url.Action("ListarRubros", "Toner")'
            CargarRubros(urlrubros);

            var urlcodigoid = '@Url.Action("ListarProductos", "Toner")'
            CargarCodigosID(urlcodigoid);
            LimpiarSelects();
            CargarProductos();
            LimpiarCampos();
            selects2();
            cargarApiUrls();


            $('#cboproveedores').select2({
                placeholder: "Selecciona una opción",
                allowClear: true,
                dropdownParent: $('#FormModal'),
            });

            tabladata = $("#tabla").DataTable({
                autoWidth: true,
               responsive: true,
               ordering: true,
                order: [],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdf',
                        pageSize: 'A4',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
               "ajax": {
                   url: '@Url.Action("ListarIngresos", "Toner")',
                   type: "GET",
                   dataType: "json",
                },
               "columns": [
                   {
                       "data": "oProductos", "render": function (data) {
                           return data && data.Detalle ? data.Detalle : '';
                        }
                    },
                    {
                        "data": "oProveedores", "render": function (data) {
                            return data && data.RazonSocial ? data.RazonSocial : '';
                        }
                    },
                   {
                       "data": "Cantidad"

                   },
                   {
                       "data": "CodigoId", "render": function (data) {
                           return data ? data : '';
                       }
                   },
                   {
                       "data": "NroExpediente",
                       "render": function (data) {
                           return data ? data : '';
                       }
                   },
                   {
                       "data": "TipoIngreso",
                       "render": function (data) {
                           return data ? data : '';
                       }

                   },
                    {
                        "data": "FechaIngreso"
                   },
                    {
                        "data": "FechaAct"
                    },
                   {
                       "data": "Observaciones",
                       "render": function (data) {
                           return data ? data : '';
                       },
                       searchable: false,
                   },
                   {
                       "data": "NombreyApellido",
                       "render": function (data) {
                           return data ? data : '';
                       },
                   },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"> <i class="fas fa-pen"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "auto"
                    }

                ],
                columnDefs: [
                    {
                        targets: [6, 7], render: function (data) {
                            return moment(data).format('DD/MM/YYYY');
                        }                    }
                ],
                "language": {
                    "url": "../Language/es-Es.json",
                },

            });




        });


       



        //Informacion del producto
        $('#StockDatos').on('input', function () {
            var inputVal = $(this).val();
            var selectedOption = $('#cbodetalle option').filter(function () {
                return $(this).text() === inputVal;
            });

            if (selectedOption.length) {
                var idProducto = selectedOption.data('id');

                var stockActual = stockprod[valor.IdProducto];
                if (stockActual !== undefined) {
                    $("#cbostockactual").val(stockActual).show();
                }
                else {
                    $("#cbostockactual").val("").hide();
                }

                var codigoid = codigoidprod[valor.IdProducto];
                if (codigoid !== undefined) {
                    $("#infocodigoid").val(codigoid).show();
                }
                else {
                    $("#infocodigoid").val("").hide();
                }

                var rubro = rubroprod[valor.Rubro];
                if (rubro !== undefined) {
                    $("#inforubro").val(rubro).trigger('change').show();
                }
                else {
                    $("#inforubro").val("").hide();
                }

                var tipo = tipoprod[valor.Tipo];
                if (tipo !== undefined) {
                    $("#infotipo").val(tipo).trigger('change').show();
                }
                else {
                    $("#infotipo").val("").hide();
                }
                $("#txtidProducto").val(idProducto);

            }
        });


        //Listado Proveedores
            jQuery.ajax({
                url: '@Url.Action("ListarProveedores", "Toner")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("<option>").attr({ "value": "" }).text("Seleccionar").appendTo("#cboproveedores");
                    var opciones = [];
                    $.each(data.data, function (index, valor) {
                        if (valor.Activo === true) {

                            opciones.push({
                                id: valor.IdProveedor,
                                text: valor.RazonSocial
                            });
                        }
                    });


                    $('#cboproveedores').select2({
                        data: opciones,
                        placeholder: "Selecciona una opción",
                        allowClear: true,
                        dropdownParent: $('#FormModal'),

                    });
                },
                error: function (error) {
                    console.log(error)
                },
            });


        //Listado Productos
        function CargarProductos() {
            $.ajax({
                url: '@Url.Action("ListarProductos", "Toner")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#cbodetalle").empty();
                    $("<option>").attr({ "value": "" }).text("Seleccionar").appendTo("#cbodetalle");
                    var opciones = [];
                    $.each(data.data, function (index, valor) {
                        if (valor.Activo === true) {

                            opciones.push({
                                id: valor.IdProducto,
                                text: valor.Detalle
                            });
                            stockprod[valor.IdProducto] = valor.StockActual;
                            codigoidprod[valor.IdProducto] = valor.CodigoId;
                            rubroprod[valor.IdProducto] = valor.oRubros.Rubro;
                            tipoprod[valor.IdProducto] = valor.oTipos.Tipo;
                        }
                    });
                    $('#cbodetalle').select2({
                        placeholder: "Selecciona una opción",
                        data: opciones,
                        allowClear: true,
                        dropdownParent: $('#FormModal'),
                    }).val(null).trigger('change');

                    //$.each(data.data, function (index, valor) {

                    //if (valor.Activo === true) {
                    //    stockprod[valor.IdProducto] = valor.StockActual;
                    //    codigoidprod[valor.IdProducto] = valor.CodigoId;
                    //    rubroprod[valor.IdProducto] = valor.oRubros.Rubro;
                    //    tipoprod[valor.IdProducto] = valor.oTipos.Tipo;
                    //    $("<option>").attr({ "value": valor.IdProducto }).text(valor.Detalle).appendTo("#cbodetalle");
                    //    }
                    //});
                },
                error: function (error) {
                    console.log(error)
                },
            });
        }

        function abrirModal(json) {
            //$('#collapseExample').collapse('hide');
            if (json != null) {
                var fechaActMatch = json.FechaAct.match(/\/Date\((\d+)\)\//);
                var timestamp = parseInt(fechaActMatch[1], 10);
                var fechaRegistro = new Date(timestamp);
                var fechaActual = new Date();
                var diferenciaDias = (fechaActual.getTime() - fechaRegistro.getTime()) / (1000 * 3600 * 24);

                if (diferenciaDias >= 1) {
                    Swal.fire({
                        title: "Ya no se puede actualizar/ modificar este registro.",
                        icon: "error",
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        confirmButtonText: "Ok",
                    });
                } else {
                    var fechaActMatch = json.FechaIngreso.match(/\/Date\((\d+)\)\//);
                    var timestamp = parseInt(fechaActMatch[1], 10);
                    var fechaingreso = new Date(timestamp);
                    var dia = fechaingreso.getDate().toString().padStart(2, '0');
                    var mes = (fechaingreso.getMonth() + 1).toString().padStart(2, '0');
                    var anio = fechaingreso.getFullYear();
                    var fechaFormateada = dia + '/' + mes + '/' + anio;

                    $("#txtid").val(json.IdIngreso);
                    $("#cbodetalle").val(json.oProductos.IdProducto).trigger('change');
                    $("#cboproveedores").val(json.oProveedores.IdProveedor).trigger('change');
                    $("#txtcantidad").val(json.Cantidad);
                    $("#cbostockactual").val(json.oProductos.StockActual).show();
                    $("#infocodigoid").val(json.oProductos.CodigoId).show();
                    $("#inforubro").val(json.oProductos.oRubros.Rubro).show();
                    $("#infotipo").val(json.oProductos.oTipos.Tipo).show();
                    $("#txtcodigoid").val(json.CodigoId);
                    $("#txtexpediente").val(json.NroExpediente);
                    $("#txttipoingreso").val(json.TipoIngreso);
                    $("#txtfechaingreso").val(fechaFormateada);
                    $("#txtfechaingreso").datepicker({
                        minDate: "-30D",
                        maxDate: 0,
                    });
                    $("#txtobservaciones").val(json.Observaciones);
                    $("#txtusuario").val(@Session["AccesCode"]);
                    $("#mensajeError").hide();

                    $("#FormModal").modal("show");
                }
            } else {
                 $("#txtid").val(0);
                 $("#cbodetalle").val("");
                 $("#cbostockactual").val("");
                 $("#cboproveedores").val("");
                 $("#txtcantidad").val(1);
                 $("#txtcodigoid").val("");
                 $("#infocodigoid").val("");
                 $("#inforubro").val("");
                 $("#infotipo").val("");
                 $("#txtexpediente").val("");
                 $("#txttipoingreso").val("");
                 $('#txtfechaingreso').val(new Date().toLocaleDateString('es-AR'));
                 $('#txtfechaingreso').datepicker({
                     minDate: "-30D",
                     maxDate: 0,
                 });
                 $("#txtobservaciones").val("");
                 $("#txtusuario").val(@Session["AccesCode"]);
                 $("#mensajeError").hide();

                $("#FormModal").modal("show");


            }
            $("#cbodetalle").change(function () {
                var idProducto = $(this).val();

                var stockActual = obtenerStockPorId(idProducto);
                if (stockActual !== undefined) {
                    $("#cbostockactual").val(stockActual);
                    $("#cbostockactual").show();
                }

                var codigoid = obtenerCodigoPorId(idProducto);
                if (codigoid !== undefined) {
                    $("#infocodigoid").val(codigoid);
                    $("#infocodigoid").show();
                }

                var rubro = obtenerRubroPorId(idProducto);
                if (rubro !== undefined) {
                    $("#inforubro").val(rubro);
                    $("#inforubro").show();
                }

                var tipo = obtenerTipoPorId(idProducto);
                if (tipo !== undefined) {
                    $("#infotipo").val(tipo);
                    $("#infotipo").show();
                }
            });

            function obtenerStockPorId(idProducto) {
                return stockprod[idProducto];
            }
            function obtenerCodigoPorId(idProducto) {
                return codigoidprod[idProducto];
            }
            function obtenerRubroPorId(idProducto) {
                return rubroprod[idProducto];
            }
            function obtenerTipoPorId(idProducto) {
                return tipoprod[idProducto];
            }


        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data)
        });

        //Guardar
        $("#FormModal .modal-footer").on("click", '.btn-guardar', function () {
            var cantidad = parseInt($("#txtcantidad").val(), 10);
            if (cantidad >= 100) {
                Swal.fire({
                    title: "Se cargaron más de 100",
                    text: "¿Desea cargar el producto?",
                    icon: "warning",
                    showCancelButton: true,
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        Guardar();
                    }
                });
            } else {
                Guardar();
            }

        })



        function Guardar() {

                var Ingresos = {
                    IdIngreso: $("#txtid").val(),
                    oProductos: {
                        IdProducto: $("#cbodetalle option:selected").val(),
                        Detalle: $("#cbodetalle option:selected").text(),
                    },
                    oProveedores: {
                        IdProveedor: $("#cboproveedores option:selected").val(),
                        RazonSocial: $("#cboproveedores option:selected").text(),
                    },
                    Cantidad: $("#txtcantidad").val(),
                    CodigoId: $("#txtcodigoid").val(),
                    NroExpediente: $("#txtexpediente").val(),
                    TipoIngreso: $("#txttipoingreso option:selected").val(),
                    FechaIngreso: $("#txtfechaingreso").val(),
                    Observaciones: $("#txtobservaciones").val(),
                    IdUsuario: $("#txtusuario").val(),
                }

                jQuery.ajax({
                    url: '@Url.Action("GuardarIngreso", "Toner")',
                    type: "POST",
                    data: JSON.stringify({ objeto: Ingresos }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");
                        //INGRESO NUEVO
                            if (Ingresos.IdIngreso == 0) {
                                if (data.resultado != 0) {
                                    Ingresos.IdIngreso = data.resultado;
                                    tabladata.ajax.reload(function () {
                                        Swal.fire({
                                            title: "Número de gestión:",
                                            text: data.resultado,
                                            icon: "success",
                                            customClass: {
                                                confirmButton: 'btn btn-primary'
                                            },
                                            confirmButtonText: "Ok",
                                        });
                                    }, false);
                                    $("#FormModal").modal("hide");
                                } else {
                                    $("#mensajeError").text(data.mensaje);
                                    $("#mensajeError").show();
                                }
                            }
                            //INGRESO EDITAR
                            else {
                                if (data.resultado) {
                                    Ingresos = data.resultado;
                                    tabladata.row(filaSeleccionada).data(Ingresos).draw(false);
                                    filaSeleccionada = null;
                                    tabladata.ajax.reload();
                                    $("#FormModal").modal("hide");
                                } else {
                                    $("#mensajeError").text(data.mensaje);
                                    $("#mensajeError").show();
                                }
                            }
                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("Error Ajax");
                        $("#mensajeError").show();

                        console.log(error)
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Cargando...",
                            size: 14
                        })

                    },
                });

        }



    </script>
}



