
@{
    ViewBag.Title = "Rubros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-sm">
    <div style="background-image: url('../Content/images/fondohospi4.png'); background-size: cover; background-position: center; background-repeat: no-repeat; width: auto; height: auto">
        <h5 class="card-title mb-0 text-white" style="padding-bottom: 5px; padding-top: 5px">
            <i class="fas fa-clipboard-list me-2"></i>Rubros
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)"> Agregar Rubro </button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="table table-striped-columns table-hover table-bordered" style="width: 100% !important; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th>Rubro</th>
                    <th>Codigo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="titulodinamico"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body g-2">
                <input id="txtid" type="hidden" value="0" />
                <input type="hidden" class="form-control" id="txtusuario" value="@Session["AccesCode"]" readonly>

                <div class="row g-2" id="contenedor">

                    <div class="col-sm-6">
                        <label class="form-label">Rubro</label>

                        <select id="cborubro" class="form-select" style="width:100%"> </select>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Codigo</label>
                        <input type="text" class="form-control" id="txtcodigoid" maxlength="5">

                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                @*--------Mensaje de alerta----------*@
                <div class="row mt-12">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            Error
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Se limpiaran los campos al salir.">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var tabladata;
        var filaSeleccionada;

        $(document).ready(function () {
            LimpiarCampos();
            tooltips();

            $('#cborubro').select2({
                tags: true,
                placeholder: "Selecciona una opción",
                allowClear: true,
                dropdownParent: $('#FormModal'),
            });

            $('#exampleDataList').on('input', function () {
                var inputVal = $(this).val();
                var selectedOption = $('#cborubro option').filter(function () {
                    return $(this).text() === inputVal;
                });
            });

            tabladata = $('#tabla').DataTable({
                autowidth: true,
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarRubros","Toner")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "Rubro" },
                    { "data": "Codigo" },


                    {
                        "data": "Activo", "render": function (data) {
                            return data ? '<span class="badge text-bg-success">Si</span>' : '<span class="badge text-bg-danger">No</span>';
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"> <i class="fas fa-pen"></i></button>',
                        "orderable": false,
                        "searchable": false,
                    }

                ],
                "language": {
                    "url": "../Language/es-Es.json",
                }

            });
        });

                jQuery.ajax({
                url: '@Url.Action("ListarRubros", "Toner")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var opciones = [];
                        $.each(data.data, function (index, valor) {
                            opciones.push({
                                id: valor.IdRubro,
                                text: valor.Rubro
                            });
                        });


                        $('#cborubro').select2({
                            data: opciones,
                            tags: true,
                            placeholder: "Selecciona una opción",
                            allowClear: true,
                            dropdownParent: $('#FormModal'),

                        });
                    },
                    error: function (error) {
                        console.log(error)
                    },
                });

        function modalTitle(title) {
            document.getElementById('titulodinamico').innerText = title;
        }

        function abrirModal(json) {
            modalTitle('Crear nuevo');
                $("#txtid").val(0);
                $("#cborubro").val(null).trigger('change');
                $("#txtcodigoid").val("");
                $("#txtusuario").val(@Session["AccesCode"]);
                $("#cboactivo").val(1);
                $("#mensajeError").hide();


            if (json != null) {
                modalTitle('Editar');
                    $("#txtid").val(json.IdRubro);
                    $("#cborubro").val(json.IdRubro).trigger('change');
                    $("#txtcodigoid").val(json.Codigo);
                    $("#txtusuario").val(json.IdUsuario);
                    $("#cboactivo").val(json.Activo == true ? 1:0 );

                }
                $("#FormModal").modal("show");

        }


             $("#tabla tbody").on("click", '.btn-editar', function () {
                 filaSeleccionada = $(this).closest("tr");
                 var data = tabladata.row(filaSeleccionada).data();
                 abrirModal(data)
             })

              function Guardar() {
                
                var Rubros = {
                    IdRubro: $("#txtid").val(),
                    Rubro: $("#cborubro option:selected").text(),
                    Codigo: $("#txtcodigoid").val(),
                    IdUsuario: $("#txtusuario").val(),
                    Activo: $("#cboactivo").val() == 1 ? true : false,
                }
                jQuery.ajax({
                    url: '@Url.Action("GuardarRubros", "Toner")',
                    type: "POST",
                    data: JSON.stringify({ objeto: Rubros }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");
                        //PRODUCTO NUEVO
                        console.log(data.resultado)

                        if (Rubros.IdRubro == 0) {

                            if (data.resultado != 0) {
                                Rubros.IdRubro = data.resultado;
                                tabladata.row.add(Rubros).draw(false);
                                location.reload();
                                $("#FormModal").modal("hide");
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                            //PRODUCTO EDITAR
                        else {
                            if (data.resultado) {
                                tabladata.row(filaSeleccionada).data(Rubros).draw(false);
                                filaSeleccionada = null;
                                location.reload();
                                $("#FormModal").modal("hide");
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("Error Ajax");
                        $("#mensajeError").show();

                        console.log(error)
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Cargando...",
                            size:14
                        })

                    },
                });
            }

    </script>
}
